.divImg{width:140px;height:45px;border:1px solid #e2e2e2}
.imgVar{margin-left:35px;margin-top: 5px }
.spanError{background: url(/bookstore/images/error.png) no-repeat;color:#f4000;background-color:#fef2f2;border:1px solid #ffb8b8; padding: 8px 8px 8px 35px;font-size:10px} 

