<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookstore1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.filter.EncodingFilter </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.user.web.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryAction</servlet-name>
    <servlet-class>com.category.web.CategoryAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAction</servlet-name>
    <url-pattern>/CategoryAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookAction</servlet-name>
    <servlet-class>com.book.web.BookAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAction</servlet-name>
    <url-pattern>/BookAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartAction</servlet-name>
    <servlet-class>com.cart.web.CartAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAction</servlet-name>
    <url-pattern>/CartAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderAction</servlet-name>
    <servlet-class>com.order.web.OrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAction</servlet-name>
    <url-pattern>/OrderAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VerifyCode</servlet-name>
    <servlet-class>com.vcode.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCode</servlet-name>
    <url-pattern>/VerifyCode</url-pattern>
  </servlet-mapping>
</web-app>